<div class="container">
    <!-- <app-ngbd-carousel [data]="images"></app-ngbd-carousel> -->
    <div *ngIf="isSlideshow" class="cancel" (click)="isSlideshow=false">x</div>
    <ngb-carousel *ngIf="isSlideshow" interval="transitionTime" pauseOnHover="false">
            
            <ng-template *ngFor="let image of sliderImages" ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="image.url"  onError="this.src='https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png'" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>{{image.title}}</h3>
                <p>{{image.date}}</p>
              </div>
            </ng-template>
          </ngb-carousel>   
    <div class="topBlock">
        <div class="inputContainer" *ngIf="search">
            <input (keypress)="p=1" [(ngModel)]="searchText" class="form-group" placeholder="Search for an image" />
        </div>
        <div *ngIf="pagination" class="dropdown pagination">
            <button class="dropbtn">Items per page</button>
            <div class="dropdown-content">
                <div (click)="itemsPerPage=5; p=1">5</div>
                <div (click)="itemsPerPage=10; p=1">10</div>
                <div (click)="itemsPerPage=15; p=1">15</div>
                <div (click)="itemsPerPage=20; p=1">20</div>
            </div>
        </div>

        <div *ngIf="sorting" class="dropdown sorting">
                <button class="dropbtn">Sort by</button>
                <div class="dropdown-content">
                    <div (click)="sortBy('title'); p=1">Image name</div>
                    <div (click)="sortBy('date'); p=1">image date</div>
                </div>
            </div>
    </div>
    <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div id="grid" class="row">
                        <div *ngFor="let image of images | search:'title':searchText | paginate: { itemsPerPage: (pagination? itemsPerPage : images.length), currentPage: p }; index as i"  class="mix col-sm-3 page1 page4 margin30 {{i}}">
                            <div class="item-img-wrap " (click)="openSlideshow(i); isSlideshow=true">
                                <img [src]="image.url" onError="this.src='https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png'" class="img-responsive" alt="workimg">
                                <div class="item-img-overlay">
                                    <div class="show-image">
                                        <span>{{image.title}}</span>
                                        
                                    </div>
                                </div>
                                
                            </div> 
                            <h6>{{image.date}}</h6>
                        </div>
                                                            
                    </div><!--grid-->
                </div>
            </div>
            <div *ngIf="pagination" class="row gallery-bottom">
                <div class="col-sm-6">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                <div class="col-sm-6 text-right">
                    <em>Displaying {{itemsPerPage * p - itemsPerPage}} to {{itemsPerPage * p}} (of {{images.length}} posts)</em>
                </div>
            </div>
        </div>
</div>
    